# ===============================
# Python
# ===============================

__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Virtual Environment
# ===============================

venv/
env/
.env

# ===============================
# Dataset (do not upload)
# ===============================

dataset/

# ===============================
# Outputs
# ===============================

outputs/

# ===============================
# Trained Models
# ===============================

models/*.pkl

# ===============================
# Jupyter
# ===============================

.ipynb_checkpoints/

# ===============================
# OS files
# ===============================

.DS_Store
Thumbs.db